/* Body */
body {
    font-family: Calibri;
    background-color: #1A213D;
    color: white;
    margin: 0px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E30016;
}

header .logo-header img {
    width: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Banner */
.banner {
    background-image: url("asset/banner-ayam.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-items:center;
    padding: 120px 20px;
}
.banner-menu{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-items:center;
    padding: 120px 20px;
}
@font-face {
    font-family: Ravie;
    src: url(asset/Ravie.ttf);
}

.banner h1 {
    font-size: 5vw;
    font-weight: bold;
    font-family: Ravie;
    color: #F9CB19;
    -webkit-text-stroke: 10px black; 
    paint-order: stroke fill;
    /* text-shadow: 2px 2px 5px white; */
}
.banner-menu h1 {
    font-size: 5vw;
    font-weight: bold;
    font-family: Ravie;
    color: #F9CB19;
    -webkit-text-stroke: 10px black; 
    paint-order: stroke fill;
    /* text-shadow: 2px 2px 5px white; */
}

.content {
    display: flex;
    align-items:center;
    padding: 60px;
    background-color: #203766;
}

.content2 {
    align-items:center;
    text-align: center;
    padding: 60px;
    background-color: #203766;
    justify-content: space-between;
}
.logo-section {
    text-align: center;
    margin-right: 20px;
}

.logo-section img {
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.text-section {
    max-width: 6000px;
    text-align: justify;

}

.text-section2 {
    max-width: 6000px;
    text-align: center;
}

p {
    font-size:x-large ;
}

.keunggulan {
    background-color: #1A213D;
    padding: 30px;
}

.keunggulan h2 {
    font-size: 3vw;
    margin-bottom: 10px;
    color: yellow;
}

.pesan {
    color: aliceblue;
    align-items: center;
}
